global
    log 127.0.0.1 local0
    maxconn 4096
    daemon
    nbproc 4

defaults
    log 127.0.0.1 local3
    mode http
    option dontlognull
    option redispatch
    retries 2
    maxconn 2000
    balance roundrobin
    timeout connect 20000ms
    timeout client 20000ms
    timeout server 20000ms

frontend https_frontend
    bind *:443 ssl crt /usr/local/etc/haproxy/wehpu.jeneser.wang.pem
    mode http
    option httpclose
    option forwardfor
    reqadd X-Forwarded-Proto:\ https
    default_backend web_server

backend web_server
    mode http
    balance roundrobin
    server wehpu-engine1 wehpu-engine1:3000 check inter 2000 rise 2 fall 5
    server wehpu-engine2 wehpu-engine2:3000 check inter 2000 rise 2 fall 5
    server wehpu-engine3 wehpu-engine3:3000 check inter 2000 rise 2 fall 5